@font-face{
    font-family:CompolLogo1;
    src:url(/src/font/RBNo3.1-Light.otf)}

    @font-face{
        font-family:CompolLogo2;
        src:url(/src/font/RBNo3.1-Black.otf)}

header{

    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    margin: 0px;
    border-bottom:3px solid #7c7c81;}

#NomePrincipal{
    width: 250px;}

.abas{
    color: #474661;
    font-family:CompolLogo1;}

body{background-color:#f3f6f4;
    margin: 0px;}

.Botao{background-color: #474661;
    display: flex;
    flex-direction:row ;
    float:right;
    color: white;
    margin: 4px 4px;
    padding: 10px 25px;
    cursor: pointer;
    font-family:CompolLogo1;}

.msgbv{color:#474661;
    border-bottom:3px solid #7c7c81;
    background-color: white;
    margin: 0px;
    display:flex;
    justify-content: center;
    font-family:CompolLogo1;
    text-decoration-line:black;
    font-size: 25px;}
